@model BicycleType

<h2>Тип велосипеду</h2>

<p><strong>Назва типу:</strong> @Model.TypeName</p>
<p><strong>Опис:</strong> @Model.Description</p>

<a href="@Url.Action("Index", "Home")">Повернутися до списку</a>
